body {
    background-image: url("/./assets/images/felt/felt.jpg");
}
.jumbotron {
  position: relative;
  background-color: whitesmoke;
  border-radius: 15px 15px; 
}
.jumbotron h1 {
	font-size: 4em;
  color: black;
}
.jumbotron h2 {
	font-size: 2em;
  color: black;
}
#footerSpacer {
    background: transparent;
    width: 100%;
    height: 70px;
  }
  #footerPanel {
    text-align: center;
    color: black;
    background-color: whitesmoke;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
.movieButton {
  padding: 10px 20px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
  display: inline;
  margin: 5px 5px;
}
.movieButton:hover {
  background-color: #FF6600;
}
.movieButton:active {
  background-color:#CCCCCC;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#gifPanel {
  margin: 10px 0px 0px 0px;
}
.movieGif {
  margin: 20px 20px 0px 0px;
  float: left;
  border-radius: 15px 15px;
  position: relative;
  left: -15px;
}
.movieGif:hover {
    background-color: #FF6600;
}
.movieGif h2 {
  font-size: 15px;
  color: black;
  text-align: center;
  position: relative;
  top: -3px;
}
.movieGif img {
  border-radius: 20px 20px;
}
.formPanel {
  position: relative;
  top: 30px;
  right: 35px;
  border-radius: 15px 15px; 
  background-color: #FF6600;
  height: 145px;
}
.inputLabel {
  font-size: 15px;
  color: black;
  margin: 15px 0px;
  margin-left: 32px;
}
#movie-input {
  width: 137px;
  margin-left: 15px;
}
#movie-input:focus {
  background-color: white;
}
#add-movie {
  margin-top: 15px;
  margin-left: 15px;
  padding: 5px 45px;
}
